html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
}

body {
  margin: 0;
  font-size: 1.125rem;
  background-color: #fff;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e2e2e2;
  max-width: 80em;
  align-items: center;
  padding: .75em 1em .6em;
}
